<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soc.securityoperationscenter.server.dao.asset.AssetsMapper">
  <resultMap id="BaseResultMap" type="cn.soc.securityoperationscenter.server.pojo.asset.Assets">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="intranet_IP" jdbcType="VARCHAR" property="intranetIp" />
    <result column="intranet_ port" jdbcType="VARCHAR" property="intranetPort" />
    <result column="port_service" jdbcType="VARCHAR" property="portService" />
    <result column="extranet_IP" jdbcType="VARCHAR" property="extranetIp" />
    <result column="extranet_port" jdbcType="VARCHAR" property="extranetPort" />
    <result column="domain_name" jdbcType="VARCHAR" property="domainName" />
    <result column="asset_location" jdbcType="VARCHAR" property="assetLocation" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="server_type" jdbcType="VARCHAR" property="serverType" />
    <result column="os_type" jdbcType="VARCHAR" property="osType" />
    <result column="app_type" jdbcType="VARCHAR" property="appType" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="parent_project" jdbcType="VARCHAR" property="parentProject" />
    <result column="charge_person" jdbcType="VARCHAR" property="chargePerson" />
    <result column="charge_department" jdbcType="VARCHAR" property="chargeDepartment" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from assets
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.soc.securityoperationscenter.server.pojo.asset.Assets">
    insert into assets (id, intranet_IP, "intranet_ port", 
      port_service, extranet_IP, extranet_port, 
      domain_name, asset_location, business_type, 
      server_type, os_type, app_type, 
      version, parent_project, charge_person, 
      charge_department, email, tel, 
      note)
    values (#{id,jdbcType=INTEGER}, #{intranetIp,jdbcType=VARCHAR}, #{intranetPort,jdbcType=VARCHAR}, 
      #{portService,jdbcType=VARCHAR}, #{extranetIp,jdbcType=VARCHAR}, #{extranetPort,jdbcType=VARCHAR}, 
      #{domainName,jdbcType=VARCHAR}, #{assetLocation,jdbcType=VARCHAR}, #{businessType,jdbcType=VARCHAR}, 
      #{serverType,jdbcType=VARCHAR}, #{osType,jdbcType=VARCHAR}, #{appType,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{parentProject,jdbcType=VARCHAR}, #{chargePerson,jdbcType=VARCHAR}, 
      #{chargeDepartment,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{note,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.soc.securityoperationscenter.server.pojo.asset.Assets">
    update assets
    set intranet_IP = #{intranetIp,jdbcType=VARCHAR},
      "intranet_ port" = #{intranetPort,jdbcType=VARCHAR},
      port_service = #{portService,jdbcType=VARCHAR},
      extranet_IP = #{extranetIp,jdbcType=VARCHAR},
      extranet_port = #{extranetPort,jdbcType=VARCHAR},
      domain_name = #{domainName,jdbcType=VARCHAR},
      asset_location = #{assetLocation,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=VARCHAR},
      server_type = #{serverType,jdbcType=VARCHAR},
      os_type = #{osType,jdbcType=VARCHAR},
      app_type = #{appType,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      parent_project = #{parentProject,jdbcType=VARCHAR},
      charge_person = #{chargePerson,jdbcType=VARCHAR},
      charge_department = #{chargeDepartment,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, intranet_IP, "intranet_ port", port_service, extranet_IP, extranet_port, 
    domain_name, asset_location, business_type, server_type, os_type, app_type, version, 
    parent_project, charge_person, charge_department, email, tel, note
    from assets
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, intranet_IP, "intranet_ port", port_service, extranet_IP, extranet_port, 
    domain_name, asset_location, business_type, server_type, os_type, app_type, version, 
    parent_project, charge_person, charge_department, email, tel, note
    from assets
  </select>
</mapper>