<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soc.securityoperationscenter.dao.DataDictionaryMapper">
  <resultMap id="BaseResultMap" type="cn.soc.securityoperationscenter.entity.DataDictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dictionary_name" jdbcType="VARCHAR" property="dictionaryName" />
    <result column="dictionary_core" jdbcType="VARCHAR" property="dictionaryCore" />
    <result column="dictionary_value" jdbcType="VARCHAR" property="dictionaryValue" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="dictionary_type" jdbcType="VARCHAR" property="dictionaryType" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from data_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.soc.securityoperationscenter.entity.DataDictionary">
    insert into data_dictionary (id, dictionary_name, dictionary_core, 
      dictionary_value, data_type, dictionary_type, 
      note)
    values (#{id,jdbcType=INTEGER}, #{dictionaryName,jdbcType=VARCHAR}, #{dictionaryCore,jdbcType=VARCHAR}, 
      #{dictionaryValue,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{dictionaryType,jdbcType=VARCHAR}, 
      #{note,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.soc.securityoperationscenter.entity.DataDictionary">
    update data_dictionary
    set dictionary_name = #{dictionaryName,jdbcType=VARCHAR},
      dictionary_core = #{dictionaryCore,jdbcType=VARCHAR},
      dictionary_value = #{dictionaryValue,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      dictionary_type = #{dictionaryType,jdbcType=VARCHAR},
      note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, dictionary_name, dictionary_core, dictionary_value, data_type, dictionary_type, 
    note
    from data_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, dictionary_name, dictionary_core, dictionary_value, data_type, dictionary_type, 
    note
    from data_dictionary
  </select>

</mapper>