<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soc.securityoperationscenter.dao.UsersMapper">
  <resultMap id="BaseResultMap" type="cn.soc.securityoperationscenter.entity.Users">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="right" jdbcType="INTEGER" property="right" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="lastLoginTime" jdbcType="TIMESTAMP" property="lastlogintime" />
    <result column="registerTime" jdbcType="TIMESTAMP" property="registertime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.soc.securityoperationscenter.entity.Users">
    insert into users (id, username, password, 
      telephone, email, right, 
      state, lastLoginTime, registerTime
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{right,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{lastlogintime,jdbcType=TIMESTAMP}, #{registertime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.soc.securityoperationscenter.entity.Users">
    update users
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      right = #{right,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      registerTime = #{registertime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, password, telephone, email, right, state, lastLoginTime, registerTime
    from users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password, telephone, email, right, state, lastLoginTime, registerTime
    from users
  </select>

  <select id="selectByNamePass" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from users
    where username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
  </select>

</mapper>